{% extends 'userbase.html' %}

{% block title %}Staff Home{% endblock %}

{# Set the active page to be highlighted in the navigation bar. #}
{% set active_page = 'home' %}

{% block content %}
<section class="container py-5 text-center">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <h1>Employer Home Page</h1>
            <p class="lead text-muted">Welcome back to InternLink.</p>
            <a href="{{ url_for('browse_internships') }}" class="btn btn-success btn-lg mt-3">
                Browse Internships
            </a>
        </div>
    </div>
</section>
{% endblock %}